* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  regole di griglia */
.container-body {
  display: grid;
  grid-template-columns: 288px 1fr 288px;
  grid-template-rows: 60px auto;
  gap: 0px 0px;
  grid-template-areas: "Header Header Header" "aside-left . aside-right";
}

header {
   grid-area: Header;
   background-color: #242526;
 }

#aside-right-wrapper {
   grid-area: aside-right;
  }

#main-wrapper {
  grid-area: main;
 }


#aside-left-wrapper {
   grid-area: aside-left;
 }


/* regole Header */

#header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

/* lato sx header */

.header-sx-wrapper {
  margin-left: 16px;
  display: flex;
  position: relative;
}

.fa-facebook-f {
  font-size: 32px;
  color: white;
}

.logotainer {
  height: 40px;
  width: 40px;
  background-color: blue;
  background-image: linear-gradient(#17aafd, #144077);
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.lenteCerca {
  position: absolute;
  left: 64px;
  top: 9px;
}
.fa-search {
  color: grey;
  font-size: 1.2em;
}

#searchBar {
  border-radius: 20px;
  background-color: #3a3b3c;
  font-size: 1em;
  border: none;
  margin-left: 10px;
  padding: 0 22px;
}


/* lato mid header */

.header-mid-wrapper {
  display: flex;
}

#navbar-header-mid {
  list-style: none;
  display: inline-block;
}

#navbar-header-mid li {
  display: inline-block;
  padding: 0 60px;
}

#navbar-header-mid .fas, #navbar-header-mid .far {
  color: #717476;
  font-size: 1.5em;
}
